@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', Verdana, sans-serif;
}

a {
  margin: 10px;
  padding: 10px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-bottom: solid rgb(0, 0, 0) 3px;
  border-radius: 30%;
  transition: background-color .3s ease-in-out;
}

a:hover {
  background-color: rgb(200, 230, 250);
  box-shadow: 5px 3px 3px rgb(0, 0, 0);
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Header {
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(to top left, rgb(240, 80, 80), rgb(240, 130, 130));
}

.Header-logo {
  height: 50px;
  pointer-events: none;
}

.Nav {
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  font-size: large;
  font-weight: bold;
}

.Main, .Contacts, .About, .Error {
  flex: 1;
  background: linear-gradient(to top left, rgb(200, 230, 250), rgb(200, 255, 255));
}

.Main {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
}

.Form {
  width: 100vh;
  margin: 20px 0;
  padding: 20px 30px;
  border-left: solid rgb(0, 0, 0) 5px;
  border-radius: 5%;
}

input[type=text] {
  display: block;
  height: 30px;
  background: unset;
  border: none;
  border-bottom: solid rgb(0, 0, 0) 3px;
  font-size: medium;
  transition: all .3s ease-in-out;
}

input[type=text]:focus {
  outline: unset;
  border-bottom: solid rgb(240, 80, 80) 3px;
  box-shadow: rgb(240, 80, 80) 3px 3px 3px;
}

input[type=text]::placeholder {
  font-style: italic;
}

input[type=submit], button {
  display: inline-block;
  height: 55px;
  width: 100px;
  margin: 30px 15px 0px 0px;
  padding: 15px;
  font-size: large;
  border: hidden;
  border-radius: 12%;
  background-color: rgb(168, 210, 245);
  transition: all .3s ease-in-out;
}

input[type=submit]:enabled, button:enabled {
  background-color: rgb(240, 80, 80);
  box-shadow: 5px 3px 3px rgb(0, 0, 0);
}

input[type=submit]:enabled:hover, button:enabled:hover {
  cursor: pointer;
  background-image: linear-gradient(to top left, rgb(240, 80, 80), rgb(240, 130, 130));
}

select {
  display: block;
  font-size: medium;
  padding: 5px;
  border: none;
  background: unset;
  box-shadow: rgb(0, 0, 0) 2px 2px 2px;
}

.About h1, .About p{
  text-align: center;
  line-height: 5px;
}

.Contacts, .Error {
  text-align: center;
}

.Contacts li {
  list-style: none;
}

.Footer {
  text-align: center;
  background: linear-gradient(to top left, rgb(240, 80, 80), rgb(240, 140, 140));
}

.Loader {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Loader-content {
  display: inline-block;
  width: 200px;
  height: 200px;
}

.Loader-content::after {
  content: " ";
  display: block;
  width: 180px;
  height: 180px;
  margin: 10px;
  border: 10px solid rgb(240, 80, 80);
  border-color: rgb(240, 80, 80) transparent rgb(240, 80, 80) transparent;
  border-radius: 50%;
  animation: Loader-spin 1.2s linear infinite;
}

@media (prefers-reduced-motion: no-preference) {
  .Header-logo {
    animation: Header-logo-spin infinite 20s linear;
  }
}

@keyframes Header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}